<style media="screen">
  img {
      max-width: 400px;
      max-height: 400px;
  }
</style>
<p id="notice"><%= notice %></p>

<h1><%= @article.title %></h1>

<p>
  <% image = @article.image %>
  <%= image_tag image, class: 'd-block w-100' if image.persisted? %>
  <br>
  <%= @article.body %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_article_path(@article) %>
<% end %>  

<%= link_to 'Back', articles_path %>
